{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>

  <main>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <h3>Login</h3>

      <label>
        <span>Username</span>
        <input type="text" id="username" name="username" placeholder="Enter your username" />
      </label>

      <label>
        <span>Password</span>
          <div class="passwd-wrap">
          <input type="password" name="password" id="id_password" placeholder="Enter your password..." required />
            <button type="button" class="show-passwd" id="show-passwd-1">
              <img src="{% static 'eye_open.svg' %}" alt="Show Password" />
            </button>
          </div>
      </label>
        <div class="button-wrap" align="center">
          <button class="button" type="submit">Log in</button>
          <a href="{% url 'signup' %}" class="button">Sign Up</a>
        </div>
    </form>
  </main>

  <script src="{% static 'main.js' %}"></script>
</body>
</html>